@import "tailwindcss";

:root {
  --white: #ffffff;
  --rust: #bf3a0d;
  --night: #141712;
  
  --background: var(--night);
  --foreground: var(--white);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white: var(--white);
  --color-rust: var(--rust);
  --color-night: var(--night);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

body {
  background: var(--night);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}
