node_modules
dist
.env
# Ignore uploads content but keep directories
uploads/*
!uploads/.gitkeep
!uploads/converted/
!uploads/metadata/
uploads/converted/*
!uploads/converted/.gitkeep
uploads/metadata/*
!uploads/metadata/.gitkeep